/* MOTORE DI INVESTIMENTO */
.btn-group {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.parameters {
  margin-top: 30px;
  padding: 15px;
  border: 1px solid #555;
  border-radius: 8px;
  background: #1a1a1a;
  color: #ffd700;
}

.btn--blue {
  background: #337ab7;
  color: #fff;
}

.btn--gray {
  background: #444;
  color: #fff;
}
